aPanel    RCDATA  aPanel.png
aMPanel   RCDATA  aMPanel.png
aPlay     RCDATA  aPlay.png
aMPlay    RCDATA  aMPlay.png
aDPlay    RCDATA  aDPlay.png
aPause    RCDATA  aPause.png
aMPause   RCDATA  aMPause.png
aDPause   RCDATA  aDPause.png
aStop     RCDATA  aStop.png
aDStop    RCDATA  aDStop.png
aMStop    RCDATA  aMStop.png
aMTPos    RCDATA  aMTPos.png
aTPos     RCDATA  aTPos.png
aMVPanel  RCDATA  aMVPanel.png
aVPanel   RCDATA  aVPanel.png
aDMute    RCDATA  aDMute.png
aMute     RCDATA  aMute.png
aMTVol    RCDATA  aMTVol.png
aTVol     RCDATA  aTVol.png